*{ margin:0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;}
html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
    width:100%; 
    /* Making WebElements Unselectable */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
/* Main Conatiner */
.main-container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0116a0, #8e2de2); /* Linear Background */
}

/* Logo/Header */
.main-container .logo {
    top: 0;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    background: #0116a0;
    box-shadow: 0px 0px 5px #000;
    z-index: 1;
}
.main-container .logo img {
    padding: 10px 0px 10px 20px;
}

/* Main Center Layout */
.main-container .main-layout {
    width: 60%;
    height: 610px;
    color: #fff;
    margin: 80px auto;
    background: #161a1d;
    border: 1px solid #000;
    border-radius: 15px;
    transition: 1s;
    box-shadow: 0px 0px 10px #000;
    overflow: hidden;
}
.main-container .main-layout:hover {
    border: 1px solid #008cff;
}

/* Main Page */
.main-container .main-layout .main-page {
    margin: 10px;
    display: grid;
    height: 610px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 2fr;
    grid-gap: 10px;
    transition: 1s;
}
.main-container .main-layout .main-page .header-text {
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
    grid-column: 1/4;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background: #292f36;
} 
.main-container .main-layout .main-page .svg-img {
    border-radius: 5px;
    grid-column: 1/3;
}
.main-container .main-layout .main-page .svg-img svg {
    width: 100%;
    border-radius: 5px;
    background: #292f36;
}
.main-container .main-layout .main-page .left-coloum .preferences-layout {
    line-height: 30px;
    text-align: left;
    border-radius: 5px;
    background: #292f36;
}
.main-container .main-layout .main-page .left-coloum .preferences-layout .preferences-text {
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    background: #3a4348;
}
.main-container .main-layout .main-page .left-coloum .preferences-layout #year {
    width: 85%;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.main-container .main-layout .main-page .left-coloum .preferences-layout #no-of-questions-value {
    color: lime;
    font-weight: normal;
}
.main-container .main-layout .main-page .left-coloum .preferences-layout #slider {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}
.main-container .main-layout .main-page .left-coloum .instructions {
    margin-top: 10px;
    line-height: 30px;
    border-radius: 5px;
    background: #292f36;
}
.main-container .main-layout .main-page .left-coloum .instructions .instructions-text {
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    background: #3a4348;
}
.main-container .main-layout .main-page .left-coloum .instructions mark {
    color: #FF1919;
    font-weight: bold;
    background: #292f36;
}
.main-container .main-layout .main-page .left-coloum #btn-start {
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
}
.main-container .main-layout .main-page .left-coloum #btn-start:hover {
    background-position: 390%;
}
/* Quiz Layout */
.main-container .main-layout .quiz-page {
    margin: 10px;
    display: grid;
    height: 590px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr 1fr 0.8fr 1.6fr 0.6fr;
    gap: 10px;
    grid-template-areas:
    "score-counter . . . . . countdown-timer countdown-timer"
    "Question-image Question-image Question-image Question-image Question-image Question-image choice choice"
    "Question-image Question-image Question-image Question-image Question-image Question-image choice choice"
    "Question Question Question Question Question Question choice choice"
    "display display display display display display Btn Btn"
    "display display display display display display question-count question-count";
    transition: 1s;
    transform: translateX(110%);
    display: none;
}
#score-counter { 
    padding: 10px;
    text-align: center;
    border-radius: 10px 0px;
    grid-area: score-counter;
    background: #292f36;
}
#score {
    color: lime;
}
#countdown-timer { 
    padding: 10px;
    text-align: center;
    border-radius: 0px 10px;
    grid-area: countdown-timer; 
    background: #292f36;
}
#Question-image { 
    text-align: center;
    border-radius: 10px;
    background: #292f36;
    grid-area: Question-image; 
}
#Question-image img { 
    width: 60%;
    height: 100%;
}
#Question { 
    grid-area: Question; 
    padding: 15px;
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
    border-radius: 10px;
    background: #292f36;
}
#display { 
    border-radius: 10px;
    grid-area: display; 
    background: #292f36;
}
#display div {
    text-align: center;
    padding: 12px;
    margin: 8px 5px 0px 5px;
    border-radius: 5px;
    background: #161a1d;
}
#choice { 
    grid-area: choice; 
    border-radius: 10px;
    background: #292f36;
}
#choice #guide, #guide2 {
    text-align: center;
    padding: 13px;
    margin: 9px 5px 0px 5px;
    border-radius: 5px;
    background: #3a4348;
}
#choice div button {
    color: #fff;
    outline: none;
    border: none;
    width: 96.5%;
    display: block;
    padding: 13px;
    margin: 8px 5px 0px 5px;
    border: 2px solid #161a1d;
    border-radius: 5px;
    background: #161a1d;
}
#choice div button:hover {
    border: 2px solid #2FB404;
}
#choice div button:focus {
    border: 2px solid #2FB404;
}
#Btn { 
    grid-area: Btn; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background: #292f36;
}
#Btn #btn-check, #btn-result {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);}
#Btn #btn-next {background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%)}
#Btn #btn-check, #btn-result {
    outline: none;
    border: none;
    padding: 20px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
}
#Btn #btn-check:hover, #btn-result:hover {
    color: #fff;
    text-decoration: none;
    background-position: right center; 
}
#Btn #btn-next {
    display: none;
    outline: none;
    border: none;
    padding: 20px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
}
#Btn #btn-next:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}
#Btn #btn-result {
    display: none;
}
#question-count { 
    grid-area: question-count; 
    padding: 20px;
    text-align: center; 
    border-radius: 5px;
    background: #292f36;
}

/* Results Page */
#result-page {
    display: none;
    margin: 10px;
    height: 590px;
    border-radius: 10px;
    background: #292f36;
    transition: 1s;
    transform: translateX(110%);
}
#result-page #result {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    padding: 20px;
    background: #3a4348;
    border-radius: 15px;
}
#no-js {
    width: 100%;
    color: red;
    display: block;
    font-size: 25px;
}
/* ipad view */
@media screen and (max-width: 768px) {
    .main-container .main-layout {
        width: 95%;
        height: 650px;
        color: #fff;
        margin-top: 10px;
        border-radius: 5px;
    }
}
/* Mobile View */
@media screen and (max-width: 480px) {
    .main-container .main-layout {
        width: 98%;
        height: 80%;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    /* Logo/Header */
    .main-container .logo img {
        width: 98%;
        padding: 5px 0px 5px 5px;
    }
    /* Main Page */
    .main-container .main-layout .main-page {
        display: block;
        margin: 5px;
        height: auto;
        transition: 1s;
    }
    .main-container .main-layout .main-page .header-text {
        border-radius: 5px;
        padding: 10px 0px 10px 0px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        background: #292f36;
    } 
    .main-container .main-layout .main-page .svg-img {
        display: none;
    }
    .main-container .main-layout .main-page .left-coloum .preferences-layout {       
        margin-top: 5px;
        text-align: left;
        border-radius: 5px;
        background: #292f36;
    }
    .main-container .main-layout .main-page .left-coloum .instructions {
        margin-top: 5px;
    }
    .main-container .main-layout .main-page .left-coloum #btn-start {
        margin-top: 30px;
    }
    /* Quiz Layout */
    .main-container .main-layout .quiz-page {      
        margin: 5px;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 1.6fr 1fr 1.6fr 1.6fr 0.6fr 0.1fr;
        gap: 5px;
        grid-template-areas:
          "score-counter . countdown-timer"
          "Question-image Question-image Question-image"
          "Question Question Question"
          "display display display"
          "choice choice choice"
          "Btn Btn Btn"
          "question-count question-count question-count";
        overflow: scroll;
    }
    #score-counter { 
        padding: 2px;
    }
    #countdown-timer { 
        position: sticky;
        top: 0; 
        padding: 2px;
    }
    #Question-image img { 
        width: 100%;
        border-radius: 10px;
    }
    #Question { 
        padding: 5px;
        font-weight: normal;
        font-size: 18px;
    }
    #display div {
        padding: 10px;
        margin: 5px 5px 5px 5px;
        font-size: 16px;
    }
    #choice #guide, #guide2 {
        padding: 10px;
        margin: 5px 5px 5px 5px;
        font-size: 18px;
    }
    #choice div button {
        padding: 10px;
        margin: 5px 5px 5px 5px;
        font-size: 18px;
    }
    #Btn #btn-check { 
        font-size: 16px;
        margin: 5px 0px 5px 0px;
    }
    #Btn #btn-next {
        font-size: 16px;
        margin: 5px 0px 5px 0px;
    }
    #Btn #btn-result {
        font-size: 16px;
        margin: 5px 0px 5px 0px;
    }
    #question-count {
        padding: 10px;
    }
    #no-js {
        font-size: 18px;
    }
}